<h1><b><u>Angular Session</u></b> </h1>

<h2>hi all!!</h2>

<!--Interpolation :{{}}-->
<!--One way binding : passing data from ts file to template (view)-->
<!-- <h3>Name:{{username}}</h3>
<h3>userage:{{age}}</h3>
<h3>userHobbies:{{hobbies}}</h3>
<h3>tuple:{{tupleval}}</h3>
<h3>Dynamic:{{dynamicvalue}}</h3>
<hr> -->
<!-- <app-directives></app-directives>
<hr/>
<app-eventbinding></app-eventbinding>
<hr/>
<app-twowaybinding></app-twowaybinding> -->

<!--<app-crud></app-crud>-->

<app-pipeseg></app-pipeseg>